<h1>Create User</h1>
<a class="btn btn-primary" href="/">All Users</a>
<form action="/create" method="POST">
  <div class="form-group">
    <label for="InputEmail">Alamat Email</label>
    <input name="email"type="email" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="InputFullname">Nama Panjang</label>
    <input name="fullname" type="text" class="form-control" id="InputFullname" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Kata Sandi</label>
    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>