<h1>Users</h1>
 <a class="btn btn-primary mb-1" href="/create">Create</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Userid</th>
      <th scope="col">Username</th>
      <th scope="col">Fullname</th>
      <th scope="col">Last Login</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <a class="btn btn-primary" href="">View</a>
        <a class="btn btn-success" href="">Edit</a>
        <a class="btn btn-danger" href="">Delete</a>
      </td>
    </tr>
  </tbody>
</table>